body {
  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
}

.register-box h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.register-container-box-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  min-width: 500px;
}

.register-box{
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  min-width: 500px;
}

.form-container h2 {
  text-align: center;
  margin: 5px
}

.form-group {
  margin: 10px;
  width: 100%;
}

/* ปรับ style ของ input fields ให้เข้ากับขนาดหน้าจอ */
input[type="text"],
input[type="password"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  border-bottom: 2px solid #E0E0E0;
  width: 100%;
  font-family: 'Anuphan', sans-serif;
}

select {
  height: 45px;
  color: #3f3f3f;
}

#sex {
  font-family: 'Anuphan', sans-serif;
}

#ageRange {
  font-family: 'Anuphan', sans-serif;
}

.signup-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-containersignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

#bt-submit-signup {
  background-color: #F7C873;
}

#bt-submit-signup:hover {
  background-color: #c5a05b;
  color: #f6f6f6;
}

button[type="submit"] {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  font-family: 'Anuphan', sans-serif;
}

button[type="login"] {
  text-decoration: underline;
  color: #FD8A8A;
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
  font-size: 1.1rem;
  font-family: 'Anuphan', sans-serif;
}

button[type="login"]:hover {
  color: #f32a2a;
}

.ck-confirm {
  margin-left: 10px;
}


/* apply styles for larger screens */
@media screen and (min-width: 820px) {

  .register-container-box {
    height: fit-content;
    margin-top: 20%;
    margin-bottom: 5%;
  }

  .register-container-box form {
    min-width: 600px;
  }

  .signup-container {
    margin-bottom: 10%;
  }

}

@media screen and (min-width: 768px) {

  .register-container-box {
    margin-top: 12%;
  }

}

@media screen and (max-width: 575px) {

  .register-container-box {
     padding: 20px;
     font-size: 12px;
     margin-top: 10%;
   }
 
   .register-box h2 {
    font-size: 1.6rem;
    font-weight: bold;
   }

   .register-box {
    min-width: 0;
    width: 100%;
    box-shadow: none;
    padding: 20px;
  }
}

 @media screen and (max-width: 390px) {

  .register-form  {
     min-width: 320px;
     padding: 20px;
     font-size: 12px;
   }
 
   .register-box h2 {
     font-size: 1.6rem;
     font-weight: bold;
   }

   .register-box {
    min-width: 0;
    box-shadow: none;
    
  }
}

@media screen and (max-width: 375px) {

  .register-container-box {
    margin-top: 0;
  }
}