.full-box {
  position: relative;
  display: flex;
  margin: auto;
  width: 50%;
  padding: 2%;
}

.bar-chart {
  width: 100%;
  margin-top: 5%;
}

@media only screen and (max-width: 768px) {
  .full-box {
    width: 100%;
    display: flex;
    margin: auto;
    padding: 50px;
  }
} 

@media only screen and (max-width: 390px) {
  .full-box {
    padding: 5px;
  }
} 