* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Archivo', sans-serif;
}

.full-size-select-position {
  position: relative;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.head-select-position {
  width: 100%;
  height: 50vh;
}

.text-head-select-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  display: flex;
}

.text-head-select-position h1 {
  font-size: 4rem;
  font-weight: bold;
}

.text-head-position-web {
  color: #F7C873;
}

.picture-head-select-position {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.box-text-position-head {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: max-content;
  padding: 2rem;
  color: #434343;
}

.box-text-position1 {
  display: flex;
  justify-content: center;
  width: 49%;
  padding: 1rem;
}

.web-img-position {
  width: 600px;
}

.box-text-position2 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 49%;
  text-align: left;
  justify-content: center;
  font-family: 'Archivo', sans-serif;
  color: #434343;
}

.box-text-position2 h2 {
  font-weight: bold;
  font-size: 3rem;
}

.box-head-text-position {
  color: #F7C873;
  font-size: 20px;
  margin-bottom: 0;
}

.box-text-position-example {
  width: 100%;
  height: max-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #434343;
}

.box-text-position-example h3 {
  font-weight: bold;
  font-size: 2.5rem;
}

.position {
  position: relative;
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.bt-position {
  text-align: center;
  margin: 2rem;
}

.bt-position button {
  margin: 5px;
}

.text-description {
  position: relative;
  text-align: center;
  padding: 20px;
}

#bt-close {
  background-color: rgb(255, 85, 85);
  border: none;
}

#bt-next {
  background-color: #37D295;
  border: none;
}

#bt-next:hover {
  background-color: rgb(41, 161, 113);
}

#bt-close:hover {
  background-color: rgb(201, 26, 26);
  border: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
.headtext {
  font-size: 1.5rem;
}
}

@media screen and (max-width: 575px) {
  .logo {
    max-width: 320px;
  }

  .headtext {
    font-size: 1.2rem;
  }

  .position {
    max-width: 400px;
  }

  .bt-position {
    margin: 1rem;
  }

  .bt-position button {
    font-size: 14px;
  }

}
