.warning-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4% 2% 4%;
  background-color: rgb(253, 218, 152);
  border-style: solid;
  border-width: 4px;
  border-color: #ff9e29;
  border-radius: 10px;
  padding: 2% 0 2% 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2% 50px 2%;
  justify-content: center;
}

.card-item {
  position: relative;
  width: 320px;
  height: 400px;
  padding: 1.5rem;
  margin: 0 1.5% 30px;
  border-radius: 21px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F7C873;
  border: 1px solid #F7C873;
  border-radius: 48px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-item:hover {
  background-color: #F7C873;
  color: #f6f6f6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.head-name-brand {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  transition: background-color .3s ease;
}

.card-item:hover .head-name-brand {
  color: #f6f6f6;
}

.text-name-type {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Anuphan', sans-serif;
}

.voted-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #FD8A8A;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.brand-vote-card {
  position: absolute;
  bottom: 4rem;
  left: 5%;
  right: 5%;
  height: 1px;
  background-color: #f7c873;
  transition: background-color .3s ease;
}

.card-item:hover .brand-vote-card {
  background-color: #f6f6f6;
}

.brand-vote-status {
  position: relative;
  margin: 1rem;
  border: 1px solid #F7C873;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Anuphan', sans-serif;
  cursor: pointer;
  transition: background-color .3s ease;
}

.card-item:hover .brand-vote-status {
  background-color: #f6f6f6;
  color: #F7C873;
}

@media only screen and (max-width: 768px) {
  .card-item {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .card-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.link-icon {
  margin-left: 5px;
}

.card-like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  border: 1.5px solid #F7C873;
  cursor: pointer;
  color: #353535;
  transition: background-color .3s ease;
}

.card-item:hover .card-like {
  background-color: #f6f6f6;
}

.card-like p {
  margin-left: 5px;
  margin-bottom: 0;
}

.like-icon {
  font-size: 16px
}

.card-like:hover {
  color: #FD8A8A;
  border: 3px solid #FD8A8A;
}

.active {
  color: #FD8A8A;
}
