* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Archivo', sans-serif;
}
  
.full-size-select-position {
    position: relative;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
  
.head-select-position {
    width: 100%;
    height: 50vh;
}
  
.text-head-select-position {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    display: flex;
}
  
.text-head-select-position h1 {
    font-size: 4rem;
    font-weight: bold;
}
  
.text-head-position-web {
    color: #F7C873;
}
  
.picture-head-select-position {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.box-text-position {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    font-family: 'Archivo', sans-serif;
    color: #434343;
}
  
.box-text-position h2 {
    font-weight: bold;
    margin: 1rem;
    font-size: 3rem;
}
  
.box-head-text-position {
    color: #F7C873;
    font-size: 20px;
    margin-bottom: 0;
}
  
/* .position-container {
    position: relative;
    width: 100vw;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
} */

.image-banner {
    width: 20%;
}

.button-list-contain {
    text-align: center;
    margin: 2rem;
}

.button-list-contain button {
    margin: 5px;
}

.box-img-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.position-img-list {
    position: relative;
    width: 100%;
    display: flex;
    row-gap: 2rem;
    flex-flow: wrap;
    justify-content: center;
    column-gap: 5%;
    /* row-gap: 10%; */
}

.position-img-list img {
    max-height: 40vh;
    position: relative;
    width: auto;
    border-radius: 10px;
}

.bg-card-img {
    background-color: #fbfbfb;
    padding: 3rem;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.bg-card-img:hover {
    background-color: #F7C873;
}

.bg-card-img h5 {
    font-weight: bold;
}

.position-gp {
    font-weight: bold;
    margin-left: 3rem;
    margin-bottom: 3rem;
    color: #434343;
}

.comment-form {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-banner {
    margin-top: 5rem;
    text-align: center;
}

.comment-banner label {
    font-weight: bold;
}

.text-description {
    position: relative;
    text-align: center;
}

#bt-nonsend {
    font-family: 'Anuphan', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    
}

#bt-close {
    background-color: rgb(255, 85, 85);
    border: none;
}
  
#bt-next {
    background-color: #37D295;
    border: none;
}
  
#bt-next:hover {
    background-color: rgb(41, 161, 113);
}
  
#bt-close:hover {
    background-color: rgb(201, 26, 26);
    border: none;
    color: #fff;
}

@media screen and (max-width: 820px) {
    .position-img-list img {
        max-width: 350px;
    }

    .image-banner {
        max-width: 320px;
    }

    .comment-form {
        width: 60%;
        font-size: 14px;
    }

    .button-list-contain button {
        font-size: 14px;
    }

}

@media screen and (max-width: 575px) {

    .modal-content {
        width: 80%;
    }

    .button-list-contain {
        margin: 1rem;
    }

    .button-list-contain button {
        font-size: 14px;
    }

}