.position-container {
    position: relative;
    width: 100vw;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.image-banner {
    width: 20%;
}

.button-list-contain {
    width: 100%;
    display: flex;
    column-gap: 3%;
    justify-content: center;
    margin: 2rem;
}

.position-img-list {
    position: relative;
    width: 100%;
    display: flex;
    row-gap: 2rem;
    flex-flow: wrap;
    justify-content: center;
    column-gap: 5%;
    /* row-gap: 10%; */
}

.position-img-list img {
    max-height: 40vh;
    position: relative;
    width: auto;
}

.comment-form {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-banner {
    margin-top: 5rem;
    text-align: center;
}

.comment-banner label {
    font-weight: bold;
}

.text-description {
    position: relative;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .position-img-list img {
        max-width: 350px;
    }

    .image-banner {
        max-width: 320px;
    }

    .comment-form {
        width: 50%;
    }
}