.position-container {
    position: relative;
    width: 100vw;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.image-banner {
    width: 20%;
}

.button-list-contain {
    text-align: center;
    margin: 2rem;
}

.button-list-contain button {
    margin: 5px;
}

.position-img-list {
    position: relative;
    width: 100%;
    display: flex;
    row-gap: 2rem;
    flex-flow: wrap;
    justify-content: center;
    column-gap: 5%;
    /* row-gap: 10%; */
}

.position-img-list img {
    max-height: 25vh;
    position: relative;
    width: auto;
}

.comment-form {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-banner {
    margin-top: 5rem;
    text-align: center;
}

.comment-banner label {
    font-weight: bold;
}

.text-description {
    position: relative;
    text-align: center;
}

#bt-close {
    background-color: rgb(255, 85, 85);
    border: none;
}
  
#bt-next {
    background-color: #37D295;
    border: none;
}
  
#bt-next:hover {
    background-color: rgb(41, 161, 113);
}
  
#bt-close:hover {
    background-color: rgb(201, 26, 26);
    border: none;
    color: #fff;
}

@media screen and (max-width: 820px) {
    .position-img-list img {
        max-width: 350px;
    }

    .image-banner {
        max-width: 320px;
    }

    .comment-form {
        width: 60%;
        font-size: 14px;
    }

    .button-list-contain button {
        font-size: 14px;
    }

}

@media screen and (max-width: 575px) {

    .modal-content {
        width: 80%;
    }

    .button-list-contain {
        margin: 1rem;
    }

    .button-list-contain button {
        font-size: 14px;
    }

}