* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
.bg-web {
  background-color: #F2F2F2;
  width: 100%;
}

#navbar {
  width: 100%;
  /* opacity: 100%; */
  top: 0;
  position: sticky;
  z-index: 1000;
}