* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Nunito', sans-serif;
}

.full-size {
  width: 100%;
  height: 100vh;
  margin-bottom: 2%;
}

.box {
  position: relative;
  background: #42AFB4;
  height: 57%;
  width: 100%;
  color: #ffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.box-text1 {
  position: relative;
  width: 479px;
  left: 4%;
  top: 20%;
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-description {
  position: relative;
  left: 4%;
  top: 15%;
  width: 655px;
  height: fit-content;
  display: flex;
}

.box-text2 {
  position: relative;
  font-family: 'Anuphan', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 33px;
}

.picture-roomGirl {
  position: absolute;
  width: 800px;
  height: auto;
  right: 0;
  bottom: 0;
}

.box-content-home {
  width: 100%;
  justify-content: center;
}

.head-text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 33px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #343979;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5%;
  height: fit-content;
}

#bt-start {
  position: relative;
  left: 4%;
  bottom: -30%;
  background-color: #3963C1;
  border: none;
  cursor: pointer;
}

#bt-start:hover {
  background-color: #B281E9;
}

.brands-list-home {
  margin-top: 5%;
}

.card-grid-steps {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0% 2% 50px 2%;
  justify-content: center;
}

.card {
  flex-basis: 20%;
  max-width: 20%;
  margin: 0 1.5% 30px;
  border: 1.5px solid rgba(116, 116, 116, 1);
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.card img {
  margin-top: 20%;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card h3 {
  margin-top: 10%;
  font-weight: bold;
  color: #3e3e3e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card p {
  font-family: 'Anuphan', sans-serif;
  padding: 5px;
  margin-top: 15%;
  margin-bottom: 20%;
  font-size: 1rem;
}

.card-content {
  margin-top: 10px;
  text-align: center;
}

.content-graph {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.content-graph-specific {
  width: 45%;
  height: 500px;
  margin: 10px;
  background-color: #9098D8;
  text-align: center;
  border-radius: 10px;
}

.content-graph-specific h3 {
  position: relative;
  margin-top: 20px;
  color: #F8F8F8;
  font-weight: 600;
  font-size: 2.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-graph-specific p {
  font-family: 'Anuphan', sans-serif;
  position: relative;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #F8F8F8;
}

.content-graph-specific img {
  position: relative;
  margin-top: 15px;
  width: 90%;
  border-radius: 10px;
  border: 3px solid #666d9d;
}

.content-graph-overview {
  width: 45%;
  height: 500px;
  margin: 10px;
  background-color: #3B9D8F;
  text-align: center;
  border-radius: 10px;
}

.content-graph-overview h3 {
  position: relative;
  margin-top: 20px;
  color: #F8F8F8;
  font-weight: 600;
  font-size: 2.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-graph-overview p {
  font-family: 'Anuphan', sans-serif;
  position: relative;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #F8F8F8;
}

.content-graph-overview img {
  position: relative;
  margin-top: 15px;
  width: 90%;
  border-radius: 10px;
  border: 3px solid #2c7368;
}

.content-sug {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3B9D8F;
  bottom: 0;
}

.box-sugform {
  width: 90%;
  height: 550px;
  margin: 10px;
  border-radius: 10px;
}

.text-sugform {
  font-family: 'Anuphan', sans-serif;
  position: relative;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: #F8F8F8;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-sugform img {
  position: relative;
  margin-top: 10px;
  width: 300px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
  margin-bottom: 10px;
}

.box-sugform-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.sug-text {
  position: relative;
  margin-top: 20%;
  width: 90%;
  height: fit-content;
  border: 3px solid #f8f8f8;
  justify-content: center;
  border-radius: 10px;
  background-color: #9098D8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

.sug-text p {
  font-family: 'Anuphan', sans-serif;
  position: relative;
  padding: 40px;
  line-height: 30px;
  color: #F8F8F8;
  margin: 0;
}

.sug-text b  {
  color: #0e1c3a;
}

/* orientation: landscape แนวนอน
orientation: portrait แนวตั้ง */
@media only screen and (max-width: 820px) {
  .box {
    height: 450px;
  }
  
  .box-text1 {
    width: 80%;
    left: 10%;
    top: 30%;
    font-size: 2rem;
  }

  .box-description {
    position: relative;
    left: 10%;
    top: 10%;
    width: 81%;
    height: fit-content;
  }

  .box-text2 {
    font-size: 1.1rem;
  }
  
  .picture-roomGirl {
    position: absolute;
    max-width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
  }
  
  .head-text p {
    top: 80%;
    font-size: 2rem;
  }

  #bt-start {
    left: 10%;
    top: 25%;
  }

  .card {
    flex-basis: 50%;
    max-width: 50%;
  }

  .content-graph-specific {
    height: 400px;
  }

  .content-graph-overview {
    height: 400px;
  }

  .sug-text {
    width: 100%;
    height: fit-content;
  }

  .sug-text p {
    padding: 10%;
    font-size: 15px;
  }

  .content-sug {
    height: fit-content;
  }
  
}

@media screen and (max-width: 575px) {
  .box {
    height: 550px;
  }

  .box-text1 {
    font-size: 1.5rem;
    top: 20%;
    line-height: 30px;
    height: fit-content;
  }

  .picture-roomGirl {
    position: absolute;
    max-width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
  }

  .box-description {
    top: 10%;
  }

  .box-text2 {
    font-size: 14px;
    line-height: 30px;
  }

  #bt-start {
    left: 10%;
    bottom: 20%;
  }

  .head-text {
    margin-top: 15%;
    font-size: 1.5rem;
    margin-bottom: 15%;
  }

  .card {
    flex-basis: 80%;
    max-width: 80%;
  }

  .content-graph-specific {
    flex-basis: 80%;
    max-width: 80%;
    height: 350px;
  }

  .content-graph-specific h3 {
    font-size: 1.5rem;
  }

  .content-graph-overview {
    flex-basis: 80%;
    max-width: 80%;
    height: 350px;
  }

  .content-graph-overview h3 {
    font-size: 1.5rem;
  }

  .box-sugform-text {
    grid-template-columns: 1fr;
  }

  .box-sugform img {
    width: 70%;
  }

  .content-sug {
    height: 100vh;
  }

  .sug-text {
    margin-top: 10%;
  }

  .sug-text p {
    padding: 10px;
    font-size: 14px;
  }
  
}

@media screen and (max-width: 390px) {
  .box {
    height: 560px;
  }

  #bt-start {
    left: 10%;
    bottom: 15%;
  }

  .box-sugform img {
    width: 250px;
  }
  
  .sug-text {
    margin-top: 0;
    padding: 10px;
  }

  .content-sug {
    height: 100vh;
  }

  .sug-text p {
    padding: 10px;
  }

  .picture-roomGirl {
    position: relative;
    margin-bottom: 20%;
  }

  .box-content-home {
    position: relative;
    margin-top: 15%;
    z-index: 0;
  }

  .box-description {
    top: 10%;
  }

}

@media screen and (max-width: 375px) {

  .box {
    height: 550px;
  }

  .picture-roomGirl {
    display: none;
  }
  
  #bt-start {
    bottom: 15%;
  }

  .box-sugform img {
    width: 200px;
  }

  .text-sugform {
    font-size: 16px;
  }

  .sug-text p {
    font-size: 14px;
    padding: 2px;
  }

  .box-description {
    top: 10%;
  }

  .box-text1 {
    height: fit-content;
    top: 25%;
  }

  .box-text2 {
    font-size: 14px;
    line-height: 30px;
  }
}
